*{
    padding: 0px;
    margin: 0px;
}

body{
    
    background-color: rgb(245, 245, 245);
}

#first-nav{
    width: 1600;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.nav-content h1{
    font-size: 40px;
    font-family: "Gill Sans", sans-serif;
}

.nav-content button{
    padding: 10px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    height: 100px;
    

}
.sing-btn{
    padding: 6px;
    width: 80px;
    border-radius: 6px;
    border: none;
}

/* part2 title var */

.title-var{
    width: 1280px;
    height: 520px;
    background-color: #C6E4D6;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 20px;
    
}
 .text-hader{
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap:5px ;
} 
.had-btn{
    background-color: #006A50;
    color: white;
    width: 270px;
    height: 56px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
}
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-var img{
    height: 400px;
}
.had{
    font-size: 50px;
    font-weight: bold;
    
     font-family: "Gill Sans", sans-serif; 
}

.para1{
    opacity: 0.40;
    font-size: 22px;
    font-weight: 900;
    font-family: Lucida Sans Unicode;
}

/* part 3 */
.box4{
    width: 280px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgba(210, 219, 225, 0.908);
    background-color: white;
   
    
}

.main-box-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pillar{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: "Gill Sans", sans-serif; 
}

.container{
    
    width: 1300px;
}
.box-section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-pera{
    margin-top: 17px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
    opacity: 0.40;
}

.box-had{
    font-family: "Gill Sans", sans-serif;
    opacity: 0.70;
    margin-top: 10px;
}

/* part 4 */

.text-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-vition{
   margin-left: 25px;
   margin-top: 80px;
   width: 1350px;
   

}
.text-vition h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Gill Sans", sans-serif; 
}

.text-vition p{
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
    opacity: 0.40;
}

/* part 5 */


.color-box1{
    background-color: white;
    width:390px;
    height: 280px;
    padding: 20px;
    border-radius: 20px;
}
.three-color-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.color-box1 h3{
    font-family: "Gill Sans", sans-serif;
    opacity: 0.70;
    margin-top: 20px;
}
.color-box1 p{
    opacity: 0.40;
    font-size: 17px;
    font-weight: 900;
    font-family: Lucida Sans Unicode;
    margin-top: 20px;
}

.b1{
    background-color:rgb(84, 144, 245) ;
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    margin-top: 15px;
}

.b2{
    background-color:rgb(9, 161, 92) ;
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    margin-top: 15px;
}
.b3{
    background-color:rgb(255, 194, 57) ;
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
    font-weight: 500;
    margin-top: 15px;
}

.color1{
    background-color: rgba(84, 144, 245, 0.2);
}
.color2{
    background-color: rgb(198, 228, 214);
}
.color3{
    background-color: rgb(247, 235, 207);
}

/* part6 */
.main-into{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.into{
    position: relative;
    width: 1330px;
    height: 249px;
    background-color:white;
    border-radius: 20px;
   
}
.into img{
    position: absolute;
    top: 20px;
    left: 30px;
}
.into-title{
    margin-top: 50px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
    line-height: 24px;
}
.into-had{
    margin-top: 10px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
}
.into-sub{
    margin-top: 10px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
}
/* ---------- */

.news-div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-div2{
    width: 1300px;
    height: 130px;
    
}

.news-div1 h1{
    /* margin-left:30px ; */
    font-family: Arial Black;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;

}

.news-section{ 
    margin-top: 45px;
}

.text-img{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin: 20px;
}

.news-img1{
    display: flex;
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    gap: 20px;
}
.earth{
    width: 400px;
    height: 300px;
    border-radius: 30px;
}
.news-text{
    
    width: 817px;
    height: 210px;
}

.news-title{
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
}

.news-text h1{
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
}

.news-text p{
    opacity: 0.40;
    font-size: 17px;
    font-weight: 900;
    font-family: Lucida Sans Unicode;
    margin-top: 20px;
}

.dnated{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.dnated p{
    width: 1000px;
    margin-top: 30px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.78;
}

.dnated h1{
    font-size: 40px;
    margin-top: 10px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
}

.four-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.four-box button{
    width: 200px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid rgba(69, 67, 67, 0.193);
    font-size: 30px;
}

.inp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}
.inp input{
    text-align: center;
    width: 800px;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: white;
}

.inp button{
    width: 140px;
    padding: 10px;
    background-color: #006A50;
    border: none;
    color: white;
    font: 7px;
    border-radius: 6px;
}

.subscrib{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1000px;
    height: 300px;
    
}
.subscrib p{
    width: 600px;
    margin-top: 30px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.78;
}

.subscrib h1{
    font-size: 40px;
    margin-top: 10px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
}

.subscrib input{
    width: 600px;
   
    margin-top: 20px;
    border-radius:4px ;
    border: none;
    padding: 20px;
}


.size{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscrib button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius:5px ;
    background-color: #006A50;
   color: white;
}

.last{
    text-align: center;
    margin-top: 100px;
    gap: 10px;
}

.last h1{
    font-size: 40px;
    margin-top: 10px;
    margin-left:30px ;
    font-family: "Gill Sans", sans-serif;
    margin-bottom: 40px;
}

.last img{
    
    margin-bottom: 50px;
    margin-left: 20px;
    
}

